/* Estilos para el cuerpo del documento */
.background {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra verticalmente */
  }
  
  /* Estilos para el contenedor centrado */
  .center-container {
    text-align: center; /* Centrar el texto dentro del contenedor */
  }
  
  /* Estilos para la caja del formulario */
  .box {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 24px;
    width: 350px; /* Ancho para el formulario */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar la caja */
  }
  
  .box h1 {
    color:  #83764c;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
  }
  
  /* Estilos para todos los campos de entrada */
  .input-text,
  .input-password {
    border: 0;
    background:  rgb(238, 221, 174);
    margin: 10px auto;
    text-align: center;
    border: 2px solid  #ac9c69;
    padding: 10px;
    width: 250px; /* Ancho estándar para los campos */
    outline: none;
    color: rgb(20, 20, 20);
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .input-text:focus,
  .input-password:focus {
    width: 300px; /* Cambio de ancho al enfocar */
    border-color: rgb(214, 135, 45); /* Cambio de color del borde */
  }
  
  /* Estilos para el botón de envío */
  .submit-btn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ac9c69;
    padding: 14px 40px;
    outline: none;
    color: rgb(38, 202, 112);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background:rgb(214, 135, 45); /* Color al hacer hover */
    color: rgb(126, 111, 64); /* Cambio de color del texto al hacer hover */
  }
  
  /* Estilos para el enlace "Ingresar" */
.text-primary {
  color: rgb(27, 112, 138); /* Cambio de color del texto a azul claro */
  text-decoration: none; /* Eliminar subrayado */
}

.text-primary:hover {
  text-decoration: underline; /* Subrayado al hacer hover */
}


  